{% extends 'core/base.html' %}
{% block head_title %}My Loan Applications{% endblock %}

{% block content %}
<h1 class="font-mono font-bold text-3xl text-center pb-5 pt-10">My Loan Applications</h1>
<hr />
{% if not loans %}
    <p class="text-center mt-8">You have not applied for any loans.</p>
{% else %}
    <table class="table-auto mx-auto w-full mt-8">
        <thead class="bg-gray-800 text-white">
        <tr class="uppercase font-semibold text-sm">
            <th class="px-4 py-2">Amount</th>
            <th class="px-4 py-2">Status</th>
            <th class="px-4 py-2">Application Date</th>
            <th class="px-4 py-2">Approval Date</th>
        </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
        <tr class="{% cycle 'bg-gray-300' 'bg-white-100' %}">
            <td class="border px-4 py-2 text-center">{{ loan.amount|floatformat:0|intcomma }} FCFA</td>
            <td class="border px-4 py-2 text-center">{{ loan.get_status_display }}</td>
            <td class="border px-4 py-2 text-center">{{ loan.application_date }}</td>
            <td class="border px-4 py-2 text-center">{{ loan.approval_date|default:"N/A" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}